.popup {
    display: none;
}

.active_popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 2px solid #157FFB;
    background-color: #fff;
    padding: 2rem;
}

.cross {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    cursor: pointer;
}

.cross:hover {
    opacity: 1;
}

.cross:before,
.cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #157FFB;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.select_city_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.select_city_form input {
    width: 80vw;
    max-width: 500px;
    font-size: 1.6rem;
    border: 2px solid #A9B6CC;
    padding: 1rem;
    border-radius: 12px;
    outline: none;
}

.select_city_form button {
    width: 80vw;
    max-width: 500px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #157FFB;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
    cursor: pointer;
}